*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:#f1f3f6;
}

.calculator{
    width:340px;
    background:#ffffff;
    padding:20px;
    border-radius:25px;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.display{
    width:100%;
    height:75px;
    border:none;
    outline:none;
    background:#f7f7f7;
    border-radius:18px;
    text-align:right;
    font-size:2rem;
    padding:15px;
    margin-bottom:15px;
    color:#333;
}

.display::placeholder{
    color:#888;
    text-align:right;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}

button{
    height:65px;
    border:none;
    border-radius:18px;
    font-size:1.2rem;
    font-weight:600;
    cursor:pointer;
    background:#f0f0f0;
    color:#333;
    transition:0.2s;
}

button:hover{
    background:#e5e5e5;
}

button:active{
    transform:scale(0.96);
}

.operator{
    background:#ff9500;
    color:white;
}

.operator:hover{
    background:#ffab33;
}

.clear{
    background:#ff3b30;
    color:white;
}

.clear:hover{
    background:#ff5c52;
}

.equal{
    background:#34c759;
    color:white;
    grid-column:span 2;
}

.equal:hover{
    background:#4cd46d;
}